<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('PAC')" data-ng-class="{active: currency.symbol == 'PAC'}">PAC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mPAC')" data-ng-class="{active: currency.symbol == 'mPAC'}">mPAC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uPAC')" data-ng-class="{active: currency.symbol == 'uPAC'}">uPAC</a>
  </li>
</ul>

